.wrapper {
    max-width: 100%;
    margin: 0 auto;
}

header {
    background: tomato;
}

.container {
    display: flex;
}

.main {
    background: pink;
    width: 70%;
}

.side {
    background: orange;
    width: 30%;
}

footer {
    background: plum;
}