#bg-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    background: url('bg-img.jpg') no-repeat center center / 100% 100%;
}

.header-title{
    position: releative;
    z-index: 2;
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
}